body {
  background: url(../images/bg.png) no-repeat center;
  background-size: cover;
  letter-spacing: 1px; }

.user {
  position: fixed;
  top: 0.2rem;
  width: 100%;
  height: 2.40rem;
  background-color: #27292b; }
  .user > p {
    position: absolute;
    right: 0.3rem;
    top: 0.3rem;
    font-size: 0.3rem;
    color: #fff; }
  .user .userPic {
    width: 1.52rem;
    height: 1.52rem;
    margin: 0.55rem 0 0.55rem 0.25rem;
    border-radius: 50%;
    background: url(../images/touxiang.png) no-repeat center; }
  .user .userInfo {
    margin-left: 0.25rem;
    height: 2.62rem; }
    .user .userInfo .table-cell {
      text-align: left; }
      .user .userInfo .table-cell h4 {
        font-size: 0.4rem;
        color: #e0e1e2;
        line-height: 0.76rem; }
      .user .userInfo .table-cell p {
        height: 0.64rem;
        line-height: 0.64rem; }
        .user .userInfo .table-cell p span {
          display: block;
          font-size: 0.3rem; }
        .user .userInfo .table-cell p .card {
          color: #6a6e6f; }
        .user .userInfo .table-cell p .jifen {
          height: 0.54rem;
          color: #487768;
          border-bottom: 2px solid #487768;
          margin-left: 0.3rem; }
        .user .userInfo .table-cell p .refresh {
          display: inline-block;
          margin-left: 0.3rem;
          width: .34rem;
          height: .50rem;
          background: url(../images/refresh.png) no-repeat bottom center;
          background-size: contain; }

.main .container {
  padding: 2.60rem 0 0; }
  .main .container .mingxi {
    color: #ea5413; }
  .main .container h4 {
    font-size: 0.3rem;
    color: #fff;
    line-height: .84rem;
    text-align: right;
    margin-right: .2rem; }
  .main .container .myOrder {
    font-size: 0.36rem;
    color: #fff;
    line-height: .80rem;
    margin-left: .2rem; }
  .main .container .pmList {
    width: 6.2rem;
    margin: 0 auto; }
    .main .container .pmList table {
      padding: 0 .2rem;
      background-color: rgba(162, 163, 163, 0.3); }
      .main .container .pmList table tbody {
        font-size: 0.3rem;
        color: #fff; }
      .main .container .pmList table th, .main .container .pmList table td {
        width: 1.85rem;
        height: 0.74rem;
        line-height: 0.64rem;
        text-align: center; }
