$white: #fff;
$fenred:#e97190;
$bor999:#999;

$fon28:.28rem;
$fon30:.30rem;
$fon32:.32rem;
$fon34:.34rem;
$fon36:.36rem;
$fon38:.38rem;
$fon44:.44rem;

body{
  background: url(../images/bg.png) no-repeat  center;
  background-size: cover;
  letter-spacing: 1px;
}
.user{
  position:fixed;
  top:0.2rem;
  width:100%;
  height:2.40rem;
  background-color:#27292b;
  &>p{
    position:absolute;
    right:0.3rem;
    top:0.3rem;
    font-size:$fon30;
    color:$white;
  }
  .userPic{
    width:1.52rem;
    height:1.52rem;
    margin:0.55rem 0 0.55rem 0.25rem;
    border-radius: 50%;
    background: url(../images/touxiang.png) no-repeat  center;
  }
  .userInfo{
    margin-left:0.25rem;
    height:2.62rem;
    .table-cell{
      text-align: left;
      h4{
        font-size: 0.4rem;
        color:#e0e1e2;
        line-height:0.76rem;
      }
      p{
        height:0.64rem;
        line-height: 0.64rem;
        span{display:block;
          font-size:0.3rem;
        }
        .card{
          color:#6a6e6f;
        }
        .jifen{
          height:0.54rem;
          color:#487768;
          border-bottom:2px solid #487768;
          margin-left:0.3rem;
        }
        .refresh{
          display:inline-block;
          margin-left:0.3rem;
          width:.34rem;
          height:.50rem;
          background: url(../images/refresh.png) no-repeat bottom center;
          background-size: contain;
        }
      }
    }
  }
}
.main{
  .container{
    padding:2.60rem 0 0;
    .mingxi{
      color:#ea5413;
    }
    h4{
      font-size: $fon30;
      color:#fff;
      line-height: .84rem;
      text-align: right;
      margin-right:.2rem;
    }
    .myOrder{
      font-size: $fon36;
      color:#fff;
      line-height: .80rem;
      margin-left:.2rem;
    }
    .pmList{
      width:6.2rem;
      margin:0 auto;
      table{
        padding:0 .2rem;
        background-color: rgba(162,163,163,.3);
        tbody{
          font-size: $fon30;
          color:$white
        }
        th,td{
          width:1.85rem;
          height:0.74rem;
          line-height: 0.74rem;
          text-align: center;
        }
      }
    }
  }
}


